

@import "./css/Chat/Chat.css";
@import "./css/Chat/styleMessage.css";


@import "./css/bootstrap/bootstrap.css";
@import "./css/bootstrap/bootsnav.css";
@import "./css/bootstrap/bootstrap-select.min.css";
@import "./css/bootstrap/bootstrap-theme.css";
@import "./css/themify-icons.css";
@import '~react-select/dist/react-select.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "./css/style.css";
@import "./css/colors/main.css";
@import "./css/responsiveness.css";
@import "./css/Rating/rating.css";



.tab.style-2 .nav-tabs li.react-tabs__tab--selected>a{
  color: #ffffff ;
  background: #f64625 ;
}

.tab .style-2 .nav .nav-tabs .react-tabs__tab .react-tabs__tab--selected a{
 color: #ffffff ;
 background: #f64625 ;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bannerBackground2{
  background: url(img/Home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cardStyle {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8eef1;
    border-radius: .25rem;
    margin-bottom: 30px;
    margin-top: 40px;

}
.cardHead {
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
padding: .85rem .85rem;
margin-bottom: 0;
border-bottom: 1px solid #eaeff5;
border-top: 1px solid #eaeff5;

}

.starBox {
  padding-left: -30px;
  margin-left: -160px;
}

.errorMessage{
  color: red;
  margin: 10px;
}

.btn theme-btn  {
  cursor: pointer !important;
}
